
#flipper{
  //background-image:url(../media/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  width: v(100);
  margin:auto;
  figure {
    position: absolute;
    width: v($cw)*2;
    height: v($cw)*2;
    margin: 45vh (v(50) - v($cw));
    transform:translatey(- v(12.5) );
    height: v($flipper-height);
    animation: flippin 1s infinite step-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
main#home{
  //background-image:url(../media/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  #om-oss{
    margin-top:0;
    margin-bottom:v(20);
    nav{
      padding:0;
      margin-top:v($fs);
      ul{
        padding:0;
        margin:0;
        li{
          width:v($cw)*2;
          display: inline-block;
        }
      }
    }
  }
}
@keyframes flippin {
  0% {
    background-image:url(../media/project-1/03.JPG);
  }
  20% {
    background-image:url(../media/project-2/02.JPG);
  }
  40% {
    background-image:url(../media/project-1/05.JPG);
  }
  60% {
    background-image:url(../media/project-2/01.JPG);
  }
  80% {
    background-image:url(../media/project-2/01.JPG);
  }
  100% {
    background-image:url(../media/project-1/05.JPG);
  }
}

#projects{
  article{
    margin:-(v($m)/10);
    width:v($sw)+((v($m)/10)*2);
    padding:v(10) 0;

    figure{
      width:100%/$cc;
      height:v($cw)*1.5;
      border:#fff solid v($g);
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display:inline-block;
    }
    &:before{
      position: absolute;
      display: block;
      width: v(28);
      height: v(4);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(v(1.4), v(-6));
      content: ' ';
    }
  }
  #sykle-uten-hender{
    &:before{
      background-image: url(../media/project-1/title-bg.png);
    }
    figure{
      &#one{
        background-image:url(../media/project-1/05.JPG);
      }
      &#two{
        background-image:url(../media/project-1/01.JPG);
      }
      &#three{
        background-image:url(../media/project-1/03.JPG);
      }
      &#four{
        background-image:url(../media/project-1/02.JPG);
      }
      &#five{
        background-image:url(../media/project-1/04.JPG);
      }
    }
  }
  #for-the-bright-days{
    &:before{
      background-image: url(../media/project-2/title.png);
    }
    figure{
      &#one{
        background-image:url(../media/project-2/01.JPG);
      }
      &#two{
        background-image:url(../media/project-2/04.JPG);
      }
      &#three{
        background-image:url(../media/project-2/03.JPG);
      }
      &#four{
        background-image:url(../media/project-2/02.JPG);
      }
    }
  }
  #diwane{
    &:before{
      background-image: url(../media/project-2/title.png);
    }
    figure{
      &#one{
        background-image:url(../media/project-2/01.JPG);
      }
      &#two{
        background-image:url(../media/project-2/04.JPG);
      }
      &#three{
        background-image:url(../media/project-2/03.JPG);
      }
      &#four{
        background-image:url(../media/project-2/02.JPG);
      }
    }
  }
}
