

$fs: 3.5;//
$sw: 80; //
$msw: 1900px;
$m: 10;//
$g: $m/6;
$fh: 100vh;
$cw: $sw/6;
$ff: 'Avenir', 'Montserrat', 'Arial', 'Helvetica', sans-serif;
$c-f: #00f;
$flipper-height: 30;//


@media only screen and (max-width: $msw){
  @function v($val) { @return $val*1vw; }
  @import 'reset';
  @import 'base';
  @import 'page-home';
}
@media only screen and (min-width: $msw){
  @function v($val) { @return $val*($msw/100); }
  @import 'reset';
  @import 'base';
  @import 'page-home';
}
