
@import 'anchors-b64';

a{
  text-transform: uppercase;
  background-image:none;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position-y: center;
}
a:hover:after{
  background-image:none;
}
a:hover,
a.abg01:hover{
  color:#000 !important; /** Sadly we have to override it on this one... **/
  background-image:$abg01;
}

a.abg02:hover{
  background-image:$abg02;
}

a.abg03:hover{
  background-image:$abg03;
}


.dir a.loader-bg{
  background-image:$loader-b64;
  background-size:cover;
  background-size: initial;
  background-position: center;
}
